body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 75px;
  line-height: 1;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #f6f4e6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}



.bottom-container {
  background-color: #f6f4e6;
  margin: 75px auto auto auto;
  padding: 50px;
}


.chef {
    max-width: 20%;
    height: auto;
    float: left;
    margin-right: 30px;
  }

.vase {
  margin-right: 30px;
  max-width: 20%;
  height: auto;
  float: right;
}


.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.profile{
  margin-top: 75px;
}

.bio{
  width:30%;
  line-height: 2;
  margin: auto;

}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 7px;
  width: 4%;
  margin: 100px auto 100px auto;
}

.contact{
  width: 50%;
  margin: 25px auto;
  line-height: 2;

}



.footer-link{
  color: #11999e;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
color: #ffffff;
}

.tm{
  padding: 10px;
  font-size: .75em;
}
